


main {
    /* width: 100%; */
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 71vh;
    background: gray;
    background-image: url(./img/dbz5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: auto;
    color: azure;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 50%;
}

.form-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.form-li {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}

textarea, input {
    width: auto;
    border-radius: 30px;
    border:2px solid black;
    box-shadow: 10px 10px 10px black;
}

textarea {
   margin-bottom: 30px;
   font-size: 1rem;
   padding-left: 10px;
}

input {
    height: 50px;
    font-size: 1rem;
    padding-left: 10px;
}

label {
    font-size: 1.3rem;
}