/* Media query pour les ecrans
 de taille moyenne de 768px à 1023px */
 @media (767px < width < 1024px){
    main {
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding-left: 15px;
    }

    .card-container-img {
        height: 100%;
        width: 100%;
    }

    .card-container {
        width: unset;
        justify-content: flex-end;
    }

    .card-container-text p:first-child {
        word-wrap: break-word;
    }
    
    .card-container-text p:nth-child(2) {
        word-wrap: break-word;
    }

    .card-container-btn {
        padding-left: 15px;
        justify-content: space-around;
    }

    .card-container-btn button {
        width: 150px;
        height: 30px;
        border: 2px solid black;
        border-radius: 15px;
        font-size: 1.3rem;
       
    }
}

/* Media query pour les ecrans
 de petite taille jusque 767px */
 @media  (width < 767px){
    main {
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding-left: 15px;
    }

    .card-container-img {
        height: 100%;
        width: 100%;
    }

    .card-container {
        width: unset;
        justify-content: flex-end;
    }

    .card-container-text p:first-child {
        word-wrap: break-word;
    }
    
    .card-container-text p:nth-child(2) {
        word-wrap: break-word;
    }

    .card-container-btn {
        padding-left: 15px;
        justify-content: space-around;
    }

    .card-container-btn button {
        width: 150px;
        height: 30px;
        border: 2px solid black;
        border-radius: 15px;
        font-size: 1.3rem;
       
    }
}