/* Media query pour les ecrans
 de taille moyenne de 768px à 1023px */
 @media (767px < width < 1024px){
    header {
        justify-content: space-around;
    }

    .logo {
        width: 500px;
        height: 120px;
        padding-left: 130px;
    }

    .nav-container {
        
        padding-left: 70px;
    }

    .nav-a {
        display: flex;
        flex-direction: column;
    }
    
    
    
    
    /* .menu-brger {
        display: block;
    }

    .menu {
        display: none;
    }

    .active {
        display: block;
    }
    
    .inactive {
        display: none;
    }
    .nav-container, .home {
        display: none;
    }    */
}

/* Media query pour les ecrans
 de petite taille jusque 767px */
 @media  (width < 767px){
    header {
        font-size: 1.2rem;
        justify-content: space-between;
    }

    .logo {
        
        padding-left:65px;
    }

    .logo img {
        width: 200px;
        height: 80px;
    }
    
    .menu-brger {
        display: block;
    }

    .menu {
        display: none;
    }

    .active {
        display: block;
    }
    
    .inactive {
        display: none;
    }
    .nav-container, .home {
        display: none;
    }   
}