* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: center; */
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 0 20px;
    background: black;
    color: white;
    font-size: 1.2rem;
}

a {
    color: white;
}

ul {
    list-style-type: none;
}

.logo {
    /* padding-left:210px; */
    display: flex;
}

.logo>img {
    width: 300px;
    height: 120px;
    justify-content: center;
}

.white-icone {
    color:white;
}

.menu-brger {
    display: none;
}

.menu {
    display: none;
    width: 120px;
    height: 120px;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 10px;
    background: gray;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

footer {
    width: 100%;
    display: flex;
    height: 5vh;
    width: 100%;
    background: black;
    color: white;
    justify-content: center;
    align-items: center;
}


/* Media query pour les ecrans
 de taille moyenne de 768px à 1023px */
 @media (767px < width < 1024px){
    header {
        justify-content: space-around;
    }

    .logo {
        width: 500px;
        height: 120px;
        padding-left: 130px;
    }

    .nav-container {
        padding-left: 70px;
    }

    .nav-a {
        display: flex;
        flex-direction: column;
    }
}

    /* Media query pour les ecrans
 de petite taille jusque 767px */
 @media  (width < 767px){
    header {
        font-size: 1.2rem;
        justify-content: space-between;
    }

    .logo {
        
        padding-left:65px;
    }

    .logo img {
        width: 200px;
        height: 80px;
    }
    
    .menu-brger {
        display: block;
    }

    .menu {
        display: none;
    }

    .active {
        display: flex;
    }
    
    .inactive {
        display: none;
    }
    .nav-container, .home {
        display: none;
    }   
}
 