main {
    min-height: 50vw;
    background-image: url('../assets/img/dragon-ball.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    background-color: gray;
    /* background: url('./img/fond-etoile.jpg'); */
    z-index: 1;
}



