/* Media query pour les ecrans
 de taille moyenne de 768px à 1023px */
 @media screen and (767px < width < 1024px){
    
}

/* Media query pour les ecrans
 de petite taille jusque 767px */
 @media screen and  (width < 767px){
   
    main {
        height: 100%;
    }

    .container {
        justify-content: flex-start;
        overflow: auto;

    }
}